@model CompName.ManageStocks.WebAppMVC.Areas.Admin.Models.UserManagement.DTOs.UserAccountDetailsDTO

@{
    ViewData["Title"] = @Model.UserDetails.UserName + " - User Details";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="card">
    <div class="card-header">
        <h3>
            <strong> User Id :</strong>  @Model.UserDetails.UserId
            <strong class="pl-4">User Name :</strong>  @Model.UserDetails.UserName
        </h3>
    </div>

    <div class="row" style="">
        <div class="col-sm-12">

            <div class="bs-component">
                <ul class="nav nav-tabs pt-2 pl-2">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#EditUserDetails">
                            <i class="fas fa-user-edit"></i>Edit Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#UserLogins">
                            <i class="fas fa-user-clock"></i> Logins
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#UserInCorrectLogins">
                            <i class="fas fa-exclamation-triangle"></i> In Correct Logins
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade show active" id="EditUserDetails">

                        @await Html.PartialAsync("_UserAccountDetails", @Model.UserDetails)
                    </div>
                    <div class="tab-pane fade" id="UserLogins">

                        <div class="card">

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tblUserLoggingLogs" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead class="lead blockquote ">
                                            <tr class="">
                                                <th>Id</th>
                                                <th>User Id</th>
                                                <th>Ip Address</th>
                                                <th>Browser</th>
                                                <th>Created On</th>
                                                <th>Created By</th>
                                                <th>Created By UserName</th>
                                                <th>Modified On</th>
                                                <th>Modified By</th>
                                                <th>Modified By UserName</th>
                                            </tr>
                                        </thead>
                                        <tbody class="blockquote ">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="UserInCorrectLogins">
                        <div class="card">

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tblUserIncorrectLoggingLogs" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead class="lead blockquote ">
                                            <tr class="">
                                                <th>Id</th>
                                                <th>User Id</th>
                                                <th>InCorrect Attempts</th>
                                                <th>Ip Address</th>
                                                <th>Browser</th>
                                                <th>User Authenticated</th>
                                                <th>IsActive</th>
                                                <th>Created On</th>
                                                <th>Created By</th>
                                                <th>Created By UserName</th>
                                                <th>Modified On</th>
                                                <th>Modified By</th>
                                                <th>Modified By UserName</th>
                                            </tr>
                                        </thead>
                                        <tbody class="blockquote ">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/jsControllers/Admin/userManagementController.js"></script>

<script>
    $(window).on("load", function () {

        var userLoggingLogs =  @Html.Raw(Json.Serialize(@Model.UserLoggingLogs));
        var userInCorrectLoggingLogs =  @Html.Raw(Json.Serialize(@Model.UserInCorrectAuthLogs));

         $('#tblUserIncorrectLoggingLogs').DataTable({
            "bLengthChange": false,
            "order": [],
            data :userInCorrectLoggingLogs,
            "columns": [
                       { "data": "UserInCorrectAuthLogId", "autowidth": true },
                        { "data": "UserId", "autowidth": true },
                       { "data": "InCorrectLoggingCount", "autowidth": true },

                       { "data": "LoggingIpAddress", "autowidth": true },
                         { "data": "LoggingBrowser", "autowidth": true },

                       { "data": "IsUserAuthenticated", "autowidth": true },
                       { "data": "IsActive", "autowidth": true },
                        {
                           "data": "CreatedOn",
                           "type": "date ",
                           "render": function (data) {
                               return moment(data).format('lll');
                            }
                },
                       { "data": "CreatedBy", "autowidth": true },
                       { "data": "CreatedByUserName", "autowidth": true },
                        {
                           "data": "ModifiedOn",
                           "type": "date ",
                           "render": function (data) {
                               return moment(data).format('lll');
                            }
                        },
                       { "data": "ModifiedBy", "autowidth": true },
                       { "data": "ModifiedByUserName", "autowidth": true },
           ]
         });

        $('#tblUserLoggingLogs').DataTable({
            "bLengthChange": false,
            "order": [],
            data :userLoggingLogs,
            "columns": [
                       { "data": "UserLoggingLogId", "autowidth": true },
                       { "data": "UserId", "autowidth": true },
                       { "data": "LoggingIpAddress", "autowidth": true },
                { "data": "LoggingBrowser", "autowidth": true },
                       {
                           "data": "CreatedOn",
                           "type": "date ",
                           "render": function (data) {
                               return moment(data).format('lll');
                            }
                        },
                       { "data": "CreatedBy", "autowidth": true },
                       { "data": "CreatedByUserName", "autowidth": true },
                        {
                           "data": "ModifiedOn",
                           "type": "date ",
                           "render": function (data) {
                               return moment(data).format('lll');
                            }
                        },
                       { "data": "ModifiedBy", "autowidth": true },
                       { "data": "ModifiedByUserName", "autowidth": true },
           ]
        });

        sharedController.navActiveColorChange("nav-item-Admin");
        sharedController.hideLoadingIndicator();

    });
</script>