<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    @*<link href="~/lib/jquery-datatables/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/jsControllers/sharedController.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">  Stock Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" id="nav-item-Login">
                            <a class="nav-link aLinkOnClick" href="/Login">Login</a>
                        </li>
                        <li class="nav-item" id="nav-item-RegisterUser">
                            <a class="nav-link aLinkOnClick" href="/RegisterUser">Register</a>
                        </li>
                    </ul>
                }
                else
                {

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link aLinkOnClick" id="nav-item-Home" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown" id="nav-item-Products">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h6 class="dropdown-header">Manage</h6>
                                <a class="dropdown-item aLinkOnClick"
                                   href="/Products/Manage/AddProduct">
                                    Add Products
                                </a>
                                <a class="dropdown-item aLinkOnClick" href="#">
                                    View Products
                                </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown" id="nav-item-Admin">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item aLinkOnClick"
                                   href='@Url.Action("GetAllUserAccounts", "UserManagement", new { Area = "" })'>
                                    Manage Users
                                </a>
                            </div>
                        </li>

                        <li class="nav-item dropdown" id="nav-item-Samples">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Samples
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h6 class="dropdown-header">Security</h6>
                                <a class="dropdown-item aLinkOnClick"
                                   asp-area="Home" asp-controller="Sample" asp-action="Authorization">
                                    Authorization
                                </a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Errors</h6>
                                <a class="dropdown-item aLinkOnClick"
                                   asp-area="Home" asp-controller="Sample" asp-action="ErrorPage">
                                    Error Page
                                </a>
                                <a class="dropdown-item aLinkOnClick"
                                   asp-area="Home" asp-controller="Sample" asp-action="AjaxErrorPage">
                                    Ajax Error Page
                                </a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <input type="hidden" id="hdnLoggedInUserId" value="@(User.FindFirst("UserId").Value)" />
                        <input type="hidden" id="hdnLoggedInUserName" value="@User.Identity.Name" />

                        <button type="button" onclick="sharedController.getLoggedUserDetails('@Url.Action( "LoadLoggedUserDetailsPartialView", "Auth" , new { Area="Authentication" } )')"
                                class="btn btn-outline-light" data-toggle="tooltip" data-placement="bottom" title="Click to see current user information">
                            <h5 class="mb-0">Hello, <strong style="font-weight:bold">@User.Identity.Name</strong> </h5>
                        </button>

                        <button type="button" onclick="sharedController.onLogoutButtonClick('@Url.Action( "LogOut", "Auth" , new { Area="Authentication" } )')"
                                data-toggle="tooltip" data-placement="bottom" title="Logout Application"
                                style="color:white;padding-right: 3px;margin-left: 9px;" class="btn btn-danger">
                            <i style="font-size: 20px;margin-top: 6px;margin-left: 0px;margin-right: 0px;" class="fas fa-power-off"></i>
                        </button>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid pt-3 pl-2 pr-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_LayoutContents")

    <div id="loadLoggedUserDetailsPartialView">
    </div>
    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            &copy; 2020 - CompName.ManageStocks.WebAppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
         var loadLoggedUserDetailsPartialViewURL = '@Url.Action("LoadLoggedUserDetailsPartialView", "Auth", new { Area = "Authentication" })';

        //parsing the unobtrusive attributes when we get content via ajax
        $(document).ajaxComplete(function () {
            $.validator.unobtrusive.parse(document);
        });

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-secondary',
                allowOutsideClick: false
            },
            buttonsStyling: false,
        });

        $('.aLinkOnClick').click(function () {
            sharedController.showLoadingIndicator();

        });
    </script>
</body>
</html>