<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmpManage.WebAppMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    @*<link href="~/lib/jquery-datatables/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/jsControllers/sharedController.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Employee Manage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" id="nav-item-Login">
                            <a class="nav-link" href="/Login">Login</a>
                        </li>
                        <li class="nav-item" id="nav-item-RegisterUser">
                            <a class="nav-link" href="/RegisterUser">Register</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" id="nav-item-Home" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown" id="nav-item-Employees">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Employees
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   asp-area="Employee" asp-controller="EmployeeManage" asp-action="CreateEmployee">
                                    Create Employee
                                </a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown" id="nav-item-Admin">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   asp-area="Admin" asp-controller="UserManagement" asp-action="GetUserAccounts">
                                    Manage Users
                                </a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <button type="button" onclick="sharedController.getUserDetails('@Url.Action( "LoadUserDetailsPartialViewAsync", "Auth" , new { Area="Authentication" , userName = @User.Identity.Name} )')"
                                class="btn btn-outline-light" data-toggle="tooltip" data-placement="bottom" title="Click to see current user information">
                            <h5 class="mb-0">Hello, <strong style="font-weight:bold">@User.Identity.Name</strong> </h5>
                        </button>

                        <button type="button" onclick="sharedController.onLogoutButtonClick('@Url.Action( "LogOut", "Auth" , new { Area="Authentication" } )')"
                                data-toggle="tooltip" data-placement="bottom" title="Logout Application"
                                style="color:white;padding-right: 3px;margin-left: 9px;" class="btn btn-danger">
                            <i style="font-size: 20px;margin-top: 6px;margin-left: 0px;margin-right: 0px;" class="fas fa-power-off"></i>
                        </button>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container-fluid pt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_LayoutContents")
    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            &copy; 2020 - EmpManage.WebAppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        //parsing the unobtrusive attributes when we get content via ajax
        $(document).ajaxComplete(function () {
            $.validator.unobtrusive.parse(document);
        });

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-secondary',
                allowOutsideClick: false
            },
            buttonsStyling: false,
        });
    </script>
</body>
</html>